---
title: 尋找加州人工流產醫療院所
description: 使用加州人工流產搜尋工具尋找人工流產服務。您也可以了解遠距醫療選擇及人工流產假消息。
keywords: 人工流產醫療院所, 診所, 假
layout: sidebar-with-content.njk
dir: ltr
locale: zh-hant
---

<p>若要在加州進行人工流產，您可以聯絡您的常規醫療保健院所，或於以下搜尋。</p>
<div class="cagov-provider-lookup">
  {% include "base-abortion-provider-lookup.njk" %}
</div>
<!-- CSS -->
{% block css %}
  {% set css %}
  {% include "../../_site_dist/provider-search.css" %}
  {% endset %}
  <style>
    {{css | safe}}</style>
{% endblock %}
{% block js %}
  {% set js %}
  {% include "../../_site_dist/provider-search.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}</script>
{% endblock %}
<h2>加州境外</h2>
<p>若您想要前來加州接受人工流產，請使用我們的加州人工流產搜尋工具。若您要尋找加州境外的人工流產醫療院所，您可透過我們的<a href="#resources">國家人工流產資源</a>清單尋找。</p>
<h2>僅遠距醫療選擇</h2>
<p>如果您居住或住在加利福尼亞州，則可以使用遠程醫療服務通過郵件獲取藥物。即使在聯邦地區法院的裁決限制了米非司酮的使用之後，加利福尼亞州仍然可以使用藥物流產。</p>
<p>使用本頁面中的加州人工流產搜尋工具，搜尋加州在地提供遠距醫療選擇的診所。</p>
<p>您也可以接洽加州在地的遠距醫療服務。</p>
<ul>
  <li>
    <a href="https://choixhealth.com/">Choix</a>使用安全傳訊方式。您不需要視訊功能也可以使用Choix。</li>
  <li>
    <a href="https://www.heyjane.co/">Hey Jane</a>提供安全的傳訊方式和視訊看診服務。</li>
  <li>
    <a href="https://abortionondemand.org/">Abortion on Demand</a>使用視訊看診服務。</li>
  <li>
    <a href="https://www.abortiontelemedicine.com/">Abortion Telemedicine</a>使用視訊看診服務。</li>
</ul>
<p>在<a href="https://www.abortionfinder.org/">Abortionfinder.org</a>搜尋美國各地的遠距醫療選擇。</p>
<h2>人工流產假消息</h2>
<p>人工流產假消息又稱為<em>錯誤資訊</em>，在網路上層出不窮。</p>
<h3>診所</h3>
<p>網路上的搜尋結果可能包括不執行人工流產的診所。這些「診所」可能在線上或現場提供不實、醫療不正確的人工流產資訊，好說服您不要進行人工流產。有時候這些診所叫做<em>高風險懷孕中心</em>
  (Crisis Pregnancy Centers, CPC)。</p>
<p>請使用<a href="#provider-finder">加州人工流產搜尋工具</a>搜尋您就近的可靠醫療院所。</p>
<p>了解<a href="https://www.plannedparenthood.org/blog/what-are-crisis-pregnancy-centers">如何辨識CPC的詳細資訊</a>。加州司法部也提供<a href="https://oag.ca.gov/system/files/attachments/press-docs/Crisis%20Pregnancy%20Center%20Bulletin.pdf">
    如何辨識假診所的指南 (PDF)</a>。</p>
<h3>社群媒體假帳號</h3>
<p>確認您在社群媒體網站上找到的任何人工流產資訊。</p>
<ul>
  <li>社群媒體假帳號可能會張貼不實或誤導的人工流產資訊。</li>
  <li>假帳號可能也會張貼連往假診所的連結。</li>
  <li>您的親友可能會提供您來自假社群媒體網站的假消息。</li>
</ul>
<p>最好找到可靠的醫療院所後直接向對方諮詢，來取得適合自己懷孕狀況的正確人工流產資訊。</p>
<h3>檢舉假消息</h3>
<p>若要檢舉假人工流產診所或網站，請在加州司法部網站上填寫<a href="https://oag.ca.gov/crisis-pregnancy-center-complaint">消費者申訴表</a>。</p>
<p>您可以使用社群媒體應用程式檢舉不實的社群媒體貼文或假帳號。</p>
<h2 id="resources">加州及國內人工流產資源</h2>
<p>除了<a href="#provider-finder">加州人工流產搜尋工具</a>之外，還有許多可以協助您找到所需人工流產保健服務的資源。</p>
<h3>Abortion Finder (AbortionFinder.org)</h3>
<ul>
  <li>使用他們的搜尋工具<a href="https://www.abortionfinder.org/">尋找獲認可的人工流產醫療院所</a>，包括遠距醫療選擇。</li>
  <li>檢視<a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california/providers">加州醫療院所清單</a>
    (線上及現場看診)。</li>
  <li>檢視其加州人工流產正式<a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">指南</a>。</li>
  <li>傳簡訊給「Abortion Finder」，對方會回傳離您最近的三家人工流產醫療院所給您。如需英文服務，請傳「Hello」至<a href="tel:+1-435-334-6337">435-3-FINDER</a>。如需西班牙文服務，請傳「Hola」至<a href="tel:+1-218-328-7227">218-3-BUSCAR</a>。</li>
</ul>
<h3>FPA Women’s Health</h3>
<p>
  <a href="https://www.fpawomenshealth.com/">瀏覽網站中的</a>診所現場及遠距醫療婦女醫療保健相關資訊。使用其搜尋工具<a href="https://www.fpawomenshealth.com/locations">尋找符合您需求的診所</a>。</p>
<h3>I Need an A</h3>
<p>I Need an A可為民眾轉介診所、郵購藥物服務供應商、現行法律、人工流產基金及援助組織。他們可以協助您獲得許多人工流產問題的個人化解答。使用其搜尋工具<a href="https://www.ineedana.com/">尋找您就近的診所</a>。網站提供英文版和西班牙文版。</p>
<h3>國家人工流產聯盟</h3>
<p>如需人工流產資訊和其他資訊 (包括財務協助)，請致電<a href="tel:+1-800-772-9100">800-772-9100</a>。您也可使用其搜尋工具<a href="https://prochoice.org/patients/find-a-provider/">尋找醫療院所</a>。</p>
<h3>Planned Parenthood</h3>
<p>使用其搜尋工具<a href="https://www.plannedparenthood.org/get-care">尋找您就近的診所</a>。您也可以索取<a href="https://www.plannedparenthood.org/health-center/ca">加州診所清單</a>。</p>