---
title: 加利福尼亞州墮胎的機會
description: 墮胎是合法的，並在加利福尼亞州保護。您不必是加利福尼亞州居民即可在這裡獲得墮胎服務。
keywords: 墮胎，加利福尼亞
layout: landing.njk
dir: ltr
locale: zh-hant
permalink: /zh-hant/
---
{% extends "./../_includes/base-home.njk" %}
