---
title: Encuentre un proveedor de servicios de aborto en California
description: Use el buscador de abortos de California para buscar servicios de aborto. También puede obtener información sobre opciones de telesalud e información sobre abortos falsos.
keywords: proveedor de servicios de aborto, clínica, falso
layout: sidebar-with-content.njk
dir: ltr
locale: es
---

<p>Para abortar en California, puede comunicarse con su proveedor de atención médica habitual o buscar a continuación.</p>
<div class="cagov-provider-lookup">
  {% include "base-abortion-provider-lookup.njk" %}
</div>
<!-- CSS -->
{% block css %}
  {% set css %}
  {% include "../../_site_dist/provider-search.css" %}
  {% endset %}
  <style>
    {{css | safe}}</style>
{% endblock %}
{% block js %}
  {% set js %}
  {% include "../../_site_dist/provider-search.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}</script>
{% endblock %}
<h2>Fuera de California</h2>
<p>Si quiere viajar a California para abortar, utilice Abortion Finder California. Si está buscando un proveedor de
  servicios de aborto fuera de California, puede encontrar uno a través de nuestra lista de
  <a href="#resources">recursos nacionales de aborto.</a>
</p>
<h2>Opciones exclusivas de telesalud</h2>
<p>Si vive o se queda en California, es posible que pueda utilizar un servicio de telesalud para recibir sus
  medicamentos por correo. Los abortos con medicamentos todavía están disponibles en California, incluso después de una
  sentencia de un tribunal federal de distrito que restringió el uso de la mifepristona.</p>
<p>Utilice Abortion Finder California en esta página para buscar clínicas de California con opciones de telesalud.</p>
<p>También puede comunicarse con un servicio de telesalud de California.</p>
<ul>
  <li>
    <a href="https://choixhealth.com/">Choix</a>
    utiliza la mensajería segura. No es necesario el video para usar Choix.</li>
  <li>
    <a href="https://www.heyjane.co/">Hey Jane</a>
    ofrece mensajería segura y consultas por video.</li>
  <li>
    <a href="https://abortionondemand.org/">Abortion on Demand</a>
    utiliza las consultas por video.</li>
  <li>
    <a href="https://www.abortiontelemedicine.com/">Abortion Telemedicine</a>
    utilice las consultas por video.</li>
</ul>
<p>Encuentre las opciones de telesalud disponibles en todo Estados Unidos en
  <a href="https://www.abortionfinder.org/">Abortionfinder.org</a>.</p>
<h2>Información falsa sobre el aborto</h2>
<p>También conocida como
  <em>desinformación</em>, la información falsa sobre el aborto es habitual en Internet.</p>
<h3>Clínicas</h3>
<p>Los resultados de la búsqueda en línea pueden incluir clínicas que no realizan abortos. Estas "clínicas" pueden
  proporcionarle información falsa e inexacta desde el punto de vista médico, en línea o en persona, sobre el aborto para
  convencerle de que no aborte. A veces se les llama
  <em>centros de crisis para embarazos</em>
  (crisis pregnancy centers, CPC).</p>
<p>Utilice
  <a href="#provider-finder">Abortion Finder California</a>
  para buscar proveedores de confianza cerca de usted.</p>
<p>Y obtenga más información
  <a href="https://www.plannedparenthood.org/blog/what-are-crisis-pregnancy-centers">sobre como detectar los CPC</a>. El Departamento de Justicia de California también dispone de información sobre
  <a href="https://oag.ca.gov/system/files/attachments/press-docs/Crisis%20Pregnancy%20Center%20Bulletin.pdf">cómo
    detectar clínicas falsas (PDF)</a>.</p>
<h3>Cuentas falsas en redes sociales</h3>
<p>Compruebe cualquier información sobre el aborto que encuentre en las redes sociales.</p>
<ul>
  <li>Las cuentas falsas de las redes sociales pueden publicar información falsa o engañosa sobre el aborto.</li>
  <li>Las cuentas falsas también pueden publicar enlaces a clínicas falsas.</li>
  <li>Sus amigos o familiares pueden darle información falsa desde un sitio falso en las redes sociales.</li>
</ul>
<p>La mejor manera de obtener información precisa sobre el aborto adaptada a su embarazo es encontrar un proveedor de
  confianza y hablar con él directamente.</p>
<h3>Denuncie la información falsa</h3>
<p>Para denunciar una clínica o un sitio web falso de abortos, llene el
  <a href="https://oag.ca.gov/crisis-pregnancy-center-complaint">formulario de denuncia del consumidor</a>
  en el sitio web del Departamento de Justicia de California.</p>
<p>Puedes denunciar publicaciones o cuentas falsas en las redes sociales a través de la aplicación de redes sociales.</p>
<h2 id="resources">Recursos sobre el aborto en California y a nivel nacional</h2>
<p>Además del
  <a href="#provider-finder">Abortion Finder California</a>, hay muchos recursos que pueden ayudarle a encontrar la atención al aborto que necesita.</p>
<h3>Abortion Finder (AbortionFinder.org)</h3>
<ul>
  <li>Utilice su buscador para
    <a href="https://www.abortionfinder.org/">encontrar un proveedor de servicios de aborto verificado</a>, incluyendo opciones de telesalud.</li>
  <li>Vea una
    <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california/providers">lista de proveedores
      de California</a>, en línea y en persona.</li>
  <li>Vea su guía estatal sobre
    <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">el aborto en California</a>.</li>
  <li>Escriba "Abortion Finder" y le devolverán un mensaje con los tres proveedores de servicios de aborto más cercanos a
    usted. Para el servicio en inglés, escriba "Hello" a
    <a href="tel:+1-435-334-6337">435-3-FINDER</a>. Para el servicio en español, escriba "Hola" a
    <a href="tel:+1-218-328-7227">218-3-BUSCAR</a>.</li>
</ul>
<h3>FPA Women’s Health</h3>
<p>
  <a href="https://www.fpawomenshealth.com/">Visite el sitio web</a>
  para obtener información sobre la atención médica a la mujer en la clínica y en telesalud. Utilice su buscador para
  <a href="https://www.fpawomenshealth.com/locations">encontrar una clínica</a>
  que se ajuste a sus necesidades.</p>
<h3>I Need an A</h3>
<p>I Need an A, conecta a las personas con las clínicas, los proveedores de píldoras por correo, las leyes vigentes, los
  fondos para el aborto y las organizaciones de apoyo. Pueden ayudarle a obtener respuestas personalizadas a muchas
  preguntas sobre el aborto. Utilice su buscador para
  <a href="https://www.ineedana.com/">
    encontrar clínicas cerca de usted</a>. El sitio está disponible en inglés y español.</p>
<h3>National Abortion Federation</h3>
<p>Para obtener información sobre el aborto y otros recursos, incluida la ayuda financiera, llame al
  <a href="tel:+1-800-772-9100">800-772-9100</a>. También puede utilizar su buscador para
  <a href="https://prochoice.org/patients/find-a-provider/">encontrar un proveedor</a>.</p>
<h3>Planned Parenthood</h3>
<p>Utilice su buscador para
  <a href="https://www.plannedparenthood.org/get-care">encontrar clínicas cerca de usted</a>. También puede obtener una
  <a href="https://www.plannedparenthood.org/health-center/ca">lista de clínicas de California</a>.</p>