---
title: Acceso al aborto en California
description: El aborto es legal y está protegido en California. No es necesario ser residente de California para recibir servicios de aborto aquí.
keywords: aborto, california
layout: landing.njk
dir: ltr
locale: es
permalink: /es/
---
 {% extends "./../_includes/base-home.njk" %}