---
title: Tìm nhà cung cấp dịch vụ phá thai ở California
description: Sử dụng công cụ tìm dịch vụ phá thai ở California để tìm kiếm các dịch vụ phá thai. Quý vị cũng có thể tìm hiểu về các lựa chọn dịch vụ y tế từ xa và thông tin giả mạo về phá thai.
keywords: nhà cung cấp dịch vụ phá thai, phòng khám, giả mạo
layout: sidebar-with-content.njk
dir: ltr
locale: vi
---

<p>Để phá thai ở California, quý vị có thể liên hệ với nhà cung cấp dịch vụ chăm sóc sức khỏe thường xuyên của mình hoặc tìm kiếm ở bên dưới.</p>

<div class="cagov-provider-lookup">
  {% include "base-abortion-provider-lookup.njk" %}
</div>

  <!-- CSS -->
  {% block css %}
  {% set css %}
  {% include "../../_site_dist/provider-search.css" %}
  {% endset %}
  <style>
  {{css | safe}}
  </style>
  {% endblock %}

  {% block js %}
  {% set js %}
  {% include "../../_site_dist/provider-search.js" %}
  {% endset %}
  <script type="module">
  {{ js | safe }}
  </script>
  {% endblock %}

  <h2>Bên ngoài California</h2>

  <p>Nếu quý vị muốn đến California để phá thai, hãy sử dụng công cụ tìm dịch vụ phá thai ở California của chúng tôi. Nếu đang tìm kiếm một nhà cung cấp dịch vụ phá thai bên ngoài California, quý vị có thể tìm thông qua danh sách <a href="#resources">nguồn lực hỗ trợ phá thai quốc gia</a> của chúng tôi.</p>

  <h2>Các lựa chọn chỉ dùng dịch vụ y tế từ xa</h2>

  <p>Kung nakatira ka o nananatili sa California, maaari kang gumamit ng serbisyo sa telehealth upang makuha ang iyong gamot sa pamamagitan ng koreo. Ang mga pagpapalaglag ng gamot ay magagamit pa rin sa California, kahit na matapos ang isang desisyon ng korte ng pederal na distrito na naghihigpit sa paggamit ng mifepristone.</p>

  <p>Sử dụng công cụ tìm dịch vụ phá thai ở California trên trang này để tìm kiếm các phòng khám có trụ sở tại California và cung cấp các lựa chọn dịch vụ y tế từ xa.</p>
  
  <p>Quý vị cũng có thể liên hệ với dịch vụ y tế từ xa có trụ sở tại California.</p>
  
  <ul>
  <li><a href="https://choixhealth.com/">Choix</a> áp dụng phương thức nhắn tin bảo mật. Quý vị có thể sử dụng Choix mà không cần xem video.</li>
  <li><a href="https://www.heyjane.co/">Hey Jane</a> cung cấp các buổi thăm khám qua video và nhắn tin bảo mật.</li>
  <li><a href="https://abortionondemand.org/">Abortion on Demand</a> áp dụng hình thức thăm khám qua video.</li>
  <li><a href="https://www.abortiontelemedicine.com/">Abortion Telemedicine</a> áp dụng hình thức thăm khám qua video.</li>
  </ul>
  
  <p>Tìm các lựa chọn dịch vụ y tế từ xa được cung cấp trên khắp Hoa Kỳ tại địa chỉ <a href="https://www.abortionfinder.org/">Abortionfinder.org</a>.</p>

  <h2>Thông tin giả mạo về phá thai</h2>

  <p>Thông tin giả mạo về phá thai còn được gọi là <em>thông tin sai lệch</em>, đây là loại thông tin rất phổ biến trên mạng.</p>

  <h3>Các phòng khám</h3>

  <p>Kết quả tìm kiếm trên mạng có thể chứa cả các phòng khám không thực hiện thủ thuật phá thai. Những “phòng khám” này có thể cung cấp thông tin sai lệch, không chính xác về mặt y tế bằng phương thức trực tuyến hoặc trực tiếp về việc phá thai để thuyết phục quý vị không phá thai. Đôi khi những phòng khám này được gọi là <em>trung tâm xử lý khủng hoảng mang thai</em> (Crisis Pregnancy Centers, CPC).</p>

  <p>Sử dụng <a href="#provider-finder">công cụ tìm dịch vụ phá thai ở California</a> để tìm kiếm các nhà cung cấp dịch vụ đáng tin cậy ở gần quý vị.</p>

  <p>Và tìm hiểu thêm về <a href="https://www.plannedparenthood.org/blog/what-are-crisis-pregnancy-centers">cách phân biệt CPC</a>. Sở Tư Pháp California cũng đưa ra hướng dẫn về <a href="https://oag.ca.gov/system/files/attachments/press-docs/Crisis%20Pregnancy%20Center%20Bulletin.pdf">cách phân biệt phòng khám giả mạo (PDF)</a>.</p>

  <h3>Tài khoản mạng xã hội giả mạo</h3>

  <p>Kiểm tra mọi thông tin phá thai mà quý vị tìm thấy trên trang mạng xã hội.</p>

  <ul>
  <li>Các tài khoản mạng xã hội giả mạo có thể đăng thông tin sai lệch hoặc gây hiểu lầm về phá thai.</li>
  <li>Tài khoản giả mạo cũng có thể đăng liên kết chuyển hướng đến các phòng khám giả mạo.</li>
  <li>Bạn bè hoặc gia đình của quý vị có thể cung cấp cho quý vị thông tin sai lệch từ một trang mạng xã hội giả mạo.</li>
  </ul>

  <p>Cách tốt nhất để có được thông tin chính xác về phá thai phù hợp với thai kỳ của quý vị là tìm một nhà cung cấp dịch vụ đáng tin cậy và trao đổi trực tiếp với họ.</p>

  <h3>Báo cáo thông tin giả mạo</h3>

  <p>Để báo cáo một phòng khám hoặc trang web phá thai giả mạo, hãy điền vào <a href="https://oag.ca.gov/crisis-pregnancy-center-complaint">biểu mẫu khiếu nại dành cho người tiêu dùng</a> trên trang web của Sở Tư Pháp California.</p>

  <p>Quý vị có thể báo cáo các bài đăng hoặc tài khoản giả mạo trên mạng xã hội bằng ứng dụng mạng xã hội.</p>

  <h2 id="resources">California và các nguồn lực hỗ trợ phá thai quốc gia</h2>

  <p>Ngoài <a href="#provider-finder">công cụ tìm dịch vụ phá thai ở California</a>, còn có nhiều nguồn lực hỗ trợ có thể giúp quý vị tìm dịch vụ chăm sóc phá thai mà quý vị cần.</p>

  <h3>Abortion Finder (AbortionFinder.org)</h3>

  <ul>
  <li>Sử dụng công cụ tìm kiếm của họ để <a href="https://www.abortionfinder.org/">tìm nhà cung cấp dịch vụ phá thai đã được xác minh</a>, bao gồm các lựa chọn dịch vụ y tế từ xa.</li>
  <li>Xem <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california/providers">danh sách các nhà cung cấp dịch vụ tại California</a>, bao gồm cả nhà cung cấp dịch vụ trực tuyến và nhà cung cấp dịch vụ trực tiếp.</li>
  <li>Xem hướng dẫn của tiểu bang về <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">dịch vụ phá thai ở California</a>.</li>
  <li>Soạn tin nhắn “Abortion Finder” và quý vị sẽ nhận được tin nhắn trả về kết quả là ba nhà cung cấp dịch vụ phá thai gần quý vị nhất. Đối với dịch vụ bằng tiếng Anh, hãy soạn tin nhắn “Hello” rồi gửi tới <a href="tel:+1-435-334-6337">435-3-FINDER</a>. Đối với dịch vụ bằng tiếng Tây Ban Nha, hãy soạn tin nhắn “Hola” rồi gửi tới <a href="tel:+1-218-328-7227">218-3-BUSCAR</a>.</li>
  </ul>

  <h3>FPA Women’s Health</h3>

  <p>
  <a href="https://www.fpawomenshealth.com/">Truy cập trang web</a> để biết thông tin về dịch vụ chăm sóc sức khỏe dành cho phụ nữ tại phòng khám và qua dịch vụ y tế từ xa. Sử dụng công cụ tìm kiếm của họ để <a href="https://www.fpawomenshealth.com/locations">tìm phòng khám</a> đáp ứng nhu cầu của quý vị.</p>

  <h3>I Need an A</h3>

  <p>I Need an A giúp quý vị liên hệ với các phòng khám, nhà cung cấp có dịch vụ gửi thuốc qua đường bưu điện; tiếp cận các luật hiện hành, quỹ phá thai và các tổ chức hỗ trợ. Họ có thể giúp quý vị nhận được câu trả lời cho nhiều câu hỏi về phá thai phù hợp với từng cá nhân. Sử dụng công cụ tìm kiếm của họ để <a href="https://www.ineedana.com/">tìm các phòng khám gần quý vị</a>. Trang web được cung cấp bằng tiếng Anh và tiếng Tây Ban Nha.</p>

  <h3>Liên Đoàn Phá Thai Quốc Gia</h3>

  <p>Để biết thông tin về việc phá thai và các nguồn lực hỗ trợ khác, bao gồm cả trợ giúp tài chính, hãy gọi <a href="tel:+1-800-772-9100">800-772-9100</a>. Quý vị cũng có thể sử dụng công cụ tìm kiếm của họ để <a href="https://prochoice.org/patients/find-a-provider/">tìm nhà cung cấp dịch vụ</a>.</p>

  <h3>Tổ Chức Kế Hoạch Hóa Gia Đình Hoa Kỳ</h3>

  <p>Sử dụng công cụ tìm kiếm của họ để <a href="https://www.plannedparenthood.org/get-care">tìm các phòng khám gần quý vị</a>. Quý vị cũng có thể nhận <a href="https://www.plannedparenthood.org/health-center/ca">danh sách các phòng khám ở California</a>.</p>