---
title: California truy cập phá thai
description: Phá thai là hợp pháp và được bảo vệ ở California. Bạn không cần phải là cư dân California để được chăm sóc phá thai ở đây.
keywords: abortion, california
layout: landing.njk
dir: ltr
locale: vi
permalink: /vi/
---
{% extends "./../_includes/base-home.njk" %}