---
title: California abortion access
description: Abortion is legal and protected in California. You do not have to be a resident of California to receive abortion care here.
keywords: abortion, california
layout: landing.njk
dir: ltr
locale: en
permalink: /
---

{% extends "./_includes/base-home.njk" %}
