---
title: Maghanap ng provider ng abortion sa California
description: Gamitin ang abortion finder ng California para maghanap ng mga serbisyo sa abortion. Puwede ka ring matuto pa tungkol sa mga opsyon sa telehealth at pekeng impormasyon sa fake.
keywords: provider sa abortion, klinika, peke
layout: sidebar-with-content.njk
dir: ltr
locale: tl
---

<p>Para magpa-abort sa California, puwede mong protektahan ang iyong regular na provider sa pangangalagang pangkalusugan o puwede kang maghanap sa ibaba.</p>

<div class="cagov-provider-lookup">
  {% include "base-abortion-provider-lookup.njk" %}
</div>

  <!-- CSS -->
  {% block css %}
    {% set css %}
    {% include "../../_site_dist/provider-search.css" %}
    {% endset %}
    <style>
      {{css | safe}}
    </style>
  {% endblock %}

  {% block js %}
    {% set js %}
    {% include "../../_site_dist/provider-search.js" %}
    {% endset %}
    <script type="module">
      {{ js | safe }}
    </script>
  {% endblock %}

  <h2>Sa Labas ng California</h2>

  <p>Kung gusto mong bumiyahe sa California para magpa-abort, gamitin ang aming abortion finder sa California. Kung naghahanap ka ng provider sa abortion sa labas ng California, makakahanap ka nito sa pamamagitan ng aming listahan ng <a href="#resources">mga pambansang resource sa abortion.</a></p>

  <h2>Mga opsyong para lang sa Telehealth</h2>

  <p>Kung nakatira ka o nananatili sa California, maaari kang gumamit ng serbisyo sa telehealth upang makuha ang iyong gamot sa pamamagitan ng koreo. Ang mga pagpapalaglag ng gamot ay magagamit pa rin sa California, kahit na matapos ang isang desisyon ng korte ng pederal na distrito na naghihigpit sa paggamit ng mifepristone.</p>

  <p>Gamitin ang abortion finder ng California sa page na ito para maghanap ng mga klinika sa California na may mga opsyon sa telehealth.</p>
  
  <p>Puwede ka ring makipag-ugnayan sa isang serbisyo sa telehealth sa California.</p>
  
  <ul>
      <li>Gumagamit ang <a href="https://choixhealth.com/">Choix</a> ng secure na pagmemensahe. Hindi mo kailangan ng video para gamitin ang Choix.</li>
      <li>Nag-aalok ang <a href="https://www.heyjane.co/">Hey Jane</a> ng secure na pagmemensahe at pagbisita sa pamamagitan ng video.</li>
      <li>Gumagamit ang <a href="https://abortionondemand.org/">Abortion on Demand</a> ng mga pagbisita sa pamamagitan ng video.</li>
      <li>Gumagamit ang <a href="https://www.abortiontelemedicine.com/">Abortion Telemedicine</a> ng mga pagbisita sa pamamagitan ng video.</li>
  </ul>
  
  <p>Hanapin ang mga opsyon sa telehealth na available sa United States sa <a href="https://www.abortionfinder.org/">Abortionfinder.org</a>.</p>

  <h2>Impormasyon sa pekeng abortion</h2>

  <p>Tinatawag ding <em>maling impormasyon</em>, karaniwan online ang impormasyon sa pekeng abortion.</p>

  <h3>Mga Klinika</h3>

  <p>Posibleng kasama sa mga resulta sa paghahanap online ang mga klinikang hindi nagsasagawa ng mga abortion. Ang mga “klinika” na ito ay puwedeng magbigay ng mali, medikal na hindi tumpak na impormasyon online o nang personal tungkol sa abortion para kumbinsihin kang hindi magpa-abort. Kung minsan, ang mga ito ay tinatawag na <em>mga crisis pregnancy center</em> (CPC).</p>

  <p>Gamitin ang <a href="#provider-finder">abortion finder ng California</a> para maghanap ng mga pinagkakatiwalaang provider malapit sa iyo.</p>

  <p>At matuto pa tungkol sa <a href="https://www.plannedparenthood.org/blog/what-are-crisis-pregnancy-centers">kung paano matukoy ang mga CPC</a>. Ang Departamento ng Hustisya ng California ay may gabay tungkol sa <a href="https://oag.ca.gov/system/files/attachments/press-docs/Crisis%20Pregnancy%20Center%20Bulletin.pdf">kung paano tumukoy ng mga pekeng klinika (PDF)</a>.</p>

  <h3>Mga pekeng social media account</h3>

  <p>Suriin ang anumang impormasyon sa abortion na makikita mo sa isang social media site.</p>

  <ul>
    <li>Puwedeng mag-post ang mga pekeng social media account ng mali o nakakalinlang na impormasyon sa abortion.</li>
    <li>Ang mga pekeng account ay puwede ring mag-post ng mga link sa mga pekeng klinika.</li>
    <li>Ang iyong mga kaibigan o kapamilya ay puwedeng magbigay sa iyo ng maling impormasyon mula sa isang pekeng social media site.</li>
  </ul>

  <p>Ang pinakamagandang paraan para makakuha ng tumpak na impormasyon sa abortion na nakaangkop sa iyong pagbubuntis ay ang paghahanap ng pinagkakatiwalaang provider at direktang makipag-ugnayan sa kanila.</p>

  <h3>Mag-ulat ng pekeng impormasyon</h3>

  <p>Para mag-ulat ng pekeng abortion clinic o website, sagutan ang <a href="https://oag.ca.gov/crisis-pregnancy-center-complaint">form sa reklamo ng consumer</a> sa website ng Departamento ng Hustisya ng California.</p>

  <p>Puwede kang mag-ulat ng mga pekeng post o account sa social medi gamit ang social media app.</p>

  <h2 id="resources">California at mga pambansang resource sa abortion</h2>

  <p>Maliban sa <a href="#provider-finder">abortion finder ng California</a>, maraming resource na makakatulong sa iyo na makita ang pangangalaga sa abortion na kailangan mo.</p>

  <h3>Abortion Finder (AbortionFinder.org)</h3>

  <ul>
    <li>Gamitin ang kanilang paghahanap para <a href="https://www.abortionfinder.org/">maghanap ng verified na provider sa abortion</a>, kasama ang mga opsyon sa telehealth.</li>
    <li>Tumingin ng <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california/providers">listahan ng mga provider sa California</a>, sa virtual at personal na paraan.</li>
    <li>Tingnan ang kanilang gabay sa estado sa <a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">abortion sa California</a>.</li>
    <li>I-text ang “Abortion Finder” at magte-text sila sa iyo sa tatlong provider sa abortion na pinakamalapit sa iyo. Para sa serbisyo sa English, i-text ang “Hello” sa <a href="tel:+1-435-334-6337">435-3-FINDER</a>. Para sa serbisyo sa Spanish, i-text ang “Hola” sa <a href="tel:+1-218-328-7227">218-3-BUSCAR</a>.</li>
  </ul>

  <h3>FPA Women’s Health</h3>

  <p>
    <a href="https://www.fpawomenshealth.com/">Bisitahin ang website</a> para sa impormasyon sa pangangalagang pangkalusugan ng kababaihan sa klinika at telehealth. Gamitin ang kanilang paghahanap para <a href="https://www.fpawomenshealth.com/locations">maghanap ng klinika</a> na nakakatugon sa iyong mga pangangailangan.</p>

  <h3>I Need an A</h3>

  <p>Kinokonekta ng I Need an A ang mga tao sa mga klinika, provider ng pill-by-mail, kasalukuyang batas, pondo sa abortion, at pansuportang organisasyon. Makakatulong sila sa iyo na makakakuha ng mga naka-personalize na sagot sa maraming tanong tungkol sa abortion. Gamitin ang kanilang paghahanap para <a href="https://www.ineedana.com/">maghanap ng mga klinika malapit sa iyo</a>. Available ang site sa English at Spanish.</p>

  <h3>National Abortion Federation</h3>

  <p>Para sa impormasyon tungkol sa abortion at iba pang resource, kasama ang pinansyal na tulong, tumawag sa <a href="tel:+1-800-772-9100">800-772-9100</a>. Puwede mo ring gamitin ang kanilang paghahanap para <a href="https://prochoice.org/patients/find-a-provider/">maghanap ng provider</a>.</p>

  <h3>Planned Parenthood</h3>

  <p>Gamitin ang kanilang paghahanap para <a href="https://www.ineedana.com/">maghanap ng mga klinika malapit sa iyo</a>. Makakakuha ka rin ng <a href="https://www.plannedparenthood.org/health-center/ca">listahan ng mga klinika sa California</a>.</p>