---
title: Access sa Pagpapalaglag sa California
description: Ang pagpapalaglag ay legal at proteksyado sa California. Hindi mo kailangang maging residente ng California para makakuha ng mga serbisyo sa pagpapalaglag dito.
keywords: pagpapalaglag, California
layout: landing.njk
dir: ltr
locale: tl
permalink: /tl/
---
{% extends "./../_includes/base-home.njk" %}