---
title: 查找加州人工流产服务提供者
description: 使用加州人工流产服务查找工具查找人工流产服务。您还可以了解远程医疗选项和虚假的人工流产信息。
keywords: 人工流产服务提供者, 诊所, 虚假的
layout: sidebar-with-content.njk
dir: ltr
locale: zh-hans
---

<p>要想在加州接受人工流产服务，您可以联系常规医疗服务提供者或在下面查找。</p>
<div class="cagov-provider-lookup">
  {% include "base-abortion-provider-lookup.njk" %}
</div>
<!-- CSS -->
{% block css %}
  {% set css %}
  {% include "../../_site_dist/provider-search.css" %}
  {% endset %}
  <style>
    {{css | safe}}</style>
{% endblock %}
{% block js %}
  {% set js %}
  {% include "../../_site_dist/provider-search.js" %}
  {% endset %}
  <script type="module">
    {{ js | safe }}</script>
{% endblock %}
<h2>非加州地区</h2>
<p>如果您想到加州接受人工流产服务，请使用我们的加州人工流产服务查找工具。如果您想查找非加州人工流产服务提供者，则可以在我们的<a href="#resources">全国人工流产资源中查找。</a>
</p>
<h2>仅限远程医疗的选项</h2>
<p>如果您居住在或临时住在加州，则可以使用远程医疗服务通过邮件获得药物。</p>
<p>在此页面上选择加州人工流产服务查找工具查找提供远程医疗选项的加州诊所。</p>
<p>您还可以联系加州的远程医疗服务。</p>
<ul>
  <li>
    <a href="https://choixhealth.com/">Choix</a>使用安全的消息传递服务。使用Choix服务不需要视频。</li>
  <li>
    <a href="https://www.heyjane.co/">Hey Jane</a>提供安全的消息传递和视频访问服务。</li>
  <li>
    <a href="https://abortionondemand.org/">Abortion on Demand</a>使用视频访问服务。</li>
  <li>
    <a href="https://www.abortiontelemedicine.com/">Abortion Telemedicine</a>使用视频访问服务。</li>
</ul>
<p>想要查找美国各地的远程医疗选项，请访问:<a href="https://www.abortionfinder.org/">Abortionfinder.org</a>。</p>
<h2>虚假的人工流产信息</h2>
<p>亦称为<em>虚假信息</em>，虚假的人工流产信息在网上很常见。</p>
<h3>诊所</h3>
<p>在线搜索结果可能包括不提供人工流产服务的诊所。这些“诊所”可能会在线上或线下提供医学上不准确的虚假信息，以说服您不要接受人工流产服务。它们有时被称为<em>怀孕危机处理中心</em>
  (Crisis Pregnancy Centers, CPC)。</p>
<p>使用<a href="#provider-finder">California Abortion Finder</a>查找您附近的可靠服务提供者。</p>
<p>并了解更多关于<a href="https://www.plannedparenthood.org/blog/what-are-crisis-pregnancy-centers">如何鉴别CPC的信息</a>。加州司法部也提供关于<a href="https://oag.ca.gov/system/files/attachments/press-docs/Crisis%20Pregnancy%20Center%20Bulletin.pdf">
    如何鉴别假诊所 (PDF) 的指导意见</a>。</p>
<h3>假的社交媒体帐号</h3>
<p>查看您在社交媒体网站上找到的任何人工流产信息。</p>
<ul>
  <li>假的社交媒体帐号可能会发布虚假或误导性人工流产信息。</li>
  <li>假的帐号也可能发布假诊所的链接。</li>
  <li>您的朋友或家人可能会向您提供假的社交媒体网站上获取的虚假信息。</li>
</ul>
<p>针对您的怀孕情况获得准确人工流产信息的最佳方法是找到可靠的服务提供者，并直接与他们交谈。</p>
<h3>举报虚假信息</h3>
<p>要举报假人工流产诊所或网站，请<a href="https://oag.ca.gov/crisis-pregnancy-center-complaint">访问加州司法部网站填写</a>消费者投诉表。</p>
<p>您可以使用社交媒体应用举报假的社交媒体帖子或帐号。</p>
<h2 id="resources">加州和全美人工流产资源</h2>
<p>除了<a href="#provider-finder">California Abortion Finder之外</a>，还有许多资源也可以帮助您查找所需的人工流产护理服务。</p>
<h3>Abortion Finder (AbortionFinder.org)</h3>
<ul>
  <li>使用搜索功能<a href="https://www.abortionfinder.org/">查找获得认证的流产服务提供者</a>，包括远程医疗选项。</li>
  <li>查看<a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california/providers">加州服务提供者列表</a>，线上线下均可查看。</li>
  <li>查看有关加州人工流产服务的<a href="https://www.abortionfinder.org/abortion-guides-by-state/abortion-in-california">指南</a>。</li>
  <li>给“Abortion Finder”发短信，他们将回短信，告诉您离您最近的三家人工流产服务提供者。想要获得英语服务，请发送“Hello”到<a href="tel:+1-435-334-6337">435-3-FINDER</a>。想要获得西班牙语服务，请发送“Hola”到<a href="tel:+1-218-328-7227">218-3-BUSCAR</a>。</li>
</ul>
<h3>FPA Women’s Health</h3>
<p>
  <a href="https://www.fpawomenshealth.com/">请访问网站，</a>查看有关诊所内和远程医疗女性医疗服务的信息。使用他们的搜索功能<a href="https://www.fpawomenshealth.com/locations">查看符合您的需求的</a>诊所。</p>
<h3>I Need an A</h3>
<p>I Need an A为人们与诊所、邮寄药物提供者、现行法律、人工流产基金和支持组织提供联系桥梁。他们可以帮助您了解许多人工流产问题的个性化答案。使用他们的搜索功能<a href="https://www.ineedana.com/">查找您附近的诊所</a>。该网站提供英语和西班牙语服务。</p>
<h3>全国堕胎联合会</h3>
<p>如欲了解人工流产相关信息或获取其他资源，包括经济帮助，请致电<a href="tel:+1-800-772-9100">800-772-9100</a>。您还可以使用他们的搜索功能<a href="https://prochoice.org/patients/find-a-provider/">查找服务提供者</a>。</p>
<h3>Planned Parenthood</h3>
<p>使用他们的搜索功能<a href="https://www.plannedparenthood.org/get-care">查找您附近的诊所</a>。您还可以获取<a href="https://www.plannedparenthood.org/health-center/ca">加州诊所列表</a>。</p>