---
title: 在加利福尼亚获得堕胎的机会
description: 堕胎在加利福尼亚州是合法的，受到保护。你不必是加利福尼亚居民就能在这里获得堕胎服务。
keywords: 堕胎，加利福尼亚州
layout: landing.njk
dir: ltr
locale: zh-hans
permalink: /zh-hans/
---
{% extends "./../_includes/base-home.njk" %}

